<div class="panel border-0 p-0 info bg-white mb-2">
  <div class="p-2 d-flex justify-space-between border-1 border-whale border-bottom-dashed">
    <h5 class="mb-0">Timeline <span class="text-cloud"> | <a title="Coming soon" href="#" class="cursor-not-allowed text-whale text-normal text-underline-none hover-whale">Popular</a></span></h5>
    <div class="text-sm">
      <a title="View list" href="#" class="d-inline-block ml-05 text-charcoal hover-sunshine"><i class="fa-solid fa-list"></i></a>
      <a title="Coming soon" href="#" class="cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-image"></i></a>
      <a title="Coming soon" href="#" class="cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-map"></i></a>
    </div>
  </div>
  <ol class="list-style-none ml-0 pl-0 mb-0">
    <% posts.forEach(function (post, i) { %>
      <li class="ml-0 pl-0 mb-1">
        <blockquote class="border-bottom-dashed border-1 pl-2 pb-2 mb-0">
          <div class="note-footer d-flex justify-space-between">
            <h6 class="mb-1">
              <a href="/<%= post.authorHandle %>" class="text-underline-none text-whale hover-cobalt">@<%= post.authorHandle %></a> <span class="text-cloud">&bull;</span> <span class="text-normal text-whale"><%= post.authorName %></span>
            </h6>
            <div class="text-xs text-whale text-verdana">
              <a href="/posts/<%= i %>" title="View Post" class="text-whale hover-cobalt text-normal text-underline-none">
              <% if (post.location) { %>
               <%= post.location %> &bull;
              <% } %>
              <%= post.timestamp %>
              </a>
            </div>
          </div>
          <p class="mb-05 text-charcoal"><%= post.content %></p>
          <div class="note-footer d-flex justify-space-between text-sm text-cloud pt-05">
            <div>
              <i title="Reply to post" class="hover-sunshine cursor-pointer d-inline-block mr-05 fa-solid fa-comment"></i>
              <i title="Republic post" class="hover-sunshine cursor-pointer d-inline-block mr-05 fa-solid fa-retweet"></i>
              <i title="Star post" class="hover-sunshine cursor-pointer d-inline-block mr-05 fa-solid fa-star"></i>
            </div>
            <div>
              <i title="Share post" class="hover-sunshine cursor-pointer d-inline-block ml-1 fa-solid fa-share"></i>
              <i title="Save post" class="hover-sunshine cursor-pointer d-inline-block ml-1 fa-solid fa-bookmark"></i>
            </div>
          </div>
        </blockquote>
      </li>
    <% }) %>
  </ol>
</div>
<h6 class="text-center"><a href="#" class="text-normal text-cloud hover-sunshine text-underline-none">View more posts</a></h6>
