<%- include('inc/head') %>
<main class="md-d-flex w-100 col-gap-2 p-1 md-p-2">
  <!-- Column 1 -->
  <div class="col-1 w-100 md-w-33">
    <div class="panel bg-white info border-0 shadow">
      <p class="mb-2">
        <img src="https://picsum.photos/800/800" alt="">
      </p>
      <h4 class="mb-05">@<%= user.handle %></h4>
      <h5 class="text-normal mb-1"><%= user.name %></h5>
      <p class="text-normal text-slate text-sm mb-05"><%= user.desc %></p>
      <p class="text-normal text-verdana text-xs text-whale mb-2"><a class="text-normal text-whale hover-cobalt text-underline-none" href="<%= user.link %>" title="View User's Link"><%= user.link %></a></p>
      <ul class="list-inline d-flex justify-space-between">
        <li class="lh-12"><h4 class="mb-05"><%= user.posts %></h4><div class="text-xs">posts</div></li>
        <li class="lh-12"><h4 class="mb-05"><%= user.following %></h4><div class="text-xs">following</div></li>
        <li class="lh-12"><h4 class="mb-05"><%= user.followers %></h4><div class="text-xs">followers</div></li>
      </ul>
    </div>
    <div class="panel bg-white info border-0 shadow d-none md-d-block">
      <h5 class="text-xs text-slate text-normal mb-2">Trending Topics</h5>
      <ul class="list-style-none ml-0 pl-0 mb-3">
        <% topics.forEach(function (topic, i) { %>
          <li class="mb-1"><a class="tag" href="/topic/<%= topic.slug %>">#<%= topic.name %></a> <span class="text-whale text-xs"><%= topic.count %> posts</span></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <!-- Column 2 -->
  <div class="col-2 w-100 md-w-66">
    <div class="panel info border-0 bg-white p-2">
      <div class="d-flex justify-space-between">
        <h5 class="mb-1">What do you want to share?</h5>
        <span class="text-sm">
          <a title="Post note" href="#" class="align-top d-inline-block ml-05 text-charcoal hover-sunshine"><i class="fa-solid fa-note-sticky"></i></a>
          <a title="Coming soon" href="#" class="align-top cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-image"></i></a>
          <a title="Coming soon" href="#" class="align-top cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-link"></i></a>
          <a title="Coming soon" href="#" class="align-top cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-palette"></i></a>
        </span>
      </div>
      <fieldset class="mb-05">
        <textarea class="w-100 mb-1"></textarea>
        <div class="d-flex justify-space-between">
          <button class="btn w-150px">Post</button>
          <small class="text-whale text-xs text-verdana">140 chars</small>
        </div>
      </fieldset>
    </div>
    <div class="panel border-0 p-0 info bg-white mb-2">
      <div class="p-2 d-flex justify-space-between border-1 border-whale border-bottom-dashed">
        <h5 class="mb-0">Timeline <span class="text-cloud"> | <a title="Coming soon" href="#" class="cursor-not-allowed text-whale text-normal text-underline-none hover-whale">Popular</a></span></h5>
        <div class="text-sm">
          <a title="View list" href="#" class="d-inline-block ml-05 text-charcoal hover-sunshine"><i class="fa-solid fa-list"></i></a>
          <a title="Coming soon" href="#" class="cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-image"></i></a>
          <a title="Coming soon" href="#" class="cursor-not-allowed d-inline-block ml-05 text-whale hover-whale"><i class="fa-solid fa-map"></i></a>
        </div>
      </div>
      <ol class="list-style-none ml-0 pl-0 mb-0">
        <% posts.forEach(function (post, i) { %>
          <li class="ml-0 pl-0 mb-1">
            <blockquote class="border-bottom-dashed border-1 pl-2 pb-2 mb-0">
              <div class="note-footer d-flex justify-space-between">
                <h6 class="mb-1">
                  <a href="/<%= post.authorHandle %>" class="text-underline-none text-whale hover-cobalt">@<%= post.authorHandle %></a> <span class="text-cloud">&bull;</span> <span class="text-normal text-whale"><%= post.authorName %></span>
                </h6>
                <div class="text-xs text-whale text-verdana">
                  <a href="/posts/<%= i %>" title="View Post" class="text-whale hover-cobalt text-normal text-underline-none">
                  <% if (post.location) { %>
                   <%= post.location %> &bull;
                  <% } %>
                  <%= post.timestamp %>
                  </a>
                </div>
              </div>
              <p class="mb-05 text-charcoal"><%= post.content %></p>
              <div class="note-footer d-flex justify-space-between text-sm text-cloud pt-05">
                <div>
                  <i title="Reply to post" class="hover-sunshine cursor-pointer d-inline-block mr-05 fa-solid fa-comment"></i>
                  <i title="Republic post" class="hover-sunshine cursor-pointer d-inline-block mr-05 fa-solid fa-retweet"></i>
                  <i title="Star post" class="hover-sunshine cursor-pointer d-inline-block mr-05 fa-solid fa-star"></i>
                </div>
                <div>
                  <i title="Share post" class="hover-sunshine cursor-pointer d-inline-block ml-1 fa-solid fa-share"></i>
                  <i title="Save post" class="hover-sunshine cursor-pointer d-inline-block ml-1 fa-solid fa-bookmark"></i>
                </div>
              </div>
            </blockquote>
          </li>
        <% }) %>
      </ol>
    </div>
    <h6 class="text-center"><a href="#" class="text-normal text-cloud hover-sunshine text-underline-none">View more posts</a></h6>
  </div>
  <!-- Column 3 -->
  <div class="col-3 d-none lg-d-block w-25">
    <div class="panel bg-white info border-0 shadow d-none lg-d-block">
      <h5 class="text-xs text-slate text-normal mb-2">People to Follow</h5>
      <ul class="list-style-none ml-0 pl-0 mb-1">
        <% posts.forEach(function (post, i) { %>
          <li class="mb-05">
            <a href="/<%= post.authorHandle %>" class="d-block text-whale hover-cobalt text-underline-none">
              <img src="https://picsum.photos/45/45?<%= i %>" alt="" /><h5 class="text-normal d-inline-block ml-05">@<%= post.authorHandle %></h5>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
    <div class="panel bg-white info border-0 shadow pb-2 d-none lg-d-block">
      <h5 class="text-xs text-slate text-normal mb-2">Media Gallery</h5>
      <div>
        <% posts.forEach(function (item, i) { %>
          <a href="/posts/<%= i %>" class="d-inline-block mr-05 mb-1">
            <img src="https://picsum.photos/75/75?<%= i %>" alt="">
          </a>
        <% }) %>
      </div>
    </div>
  </div>
</main>
<%- include('inc/foot') %>
